nav {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.2rem;
  z-index: 99;
}

/* Top navbar */
.top-nav {
  width: 100%;
  background: linear-gradient(0deg, #00000000, rgba(0, 0, 0, 0.25));
  color: var(--text-light);
  display: flex;
  align-items: center;
  justify-content: end;
}

.top-nav .nav-item {
  padding: 1em 2em;
}

/* Side navbar */
.side-nav {
  width: 4em;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--bg-dark);
  color: var(--text-dark);
  transition: width ease 0.2s;
}

.side-nav:hover {
  width: 16em;
  color: var(--text-dark);
}

.side-nav .nav-icon {
  padding: 0 !important;
  display: block !important;
  font-size: 2em;
}

.side-nav:hover > .nav-icon {
  color: var(--text-light);
}

.side-nav .nav-item {
  padding: 1em;
  display: block;
  white-space: nowrap;
  transition: color ease 0.2s;
}

.side-nav .nav-item-icon {
  padding: 0.5em;
}

.side-nav .nav-item-title {
  display: none;
}

.side-nav:hover .nav-item > .nav-item-title {
  display: inline;
}

@media (pointer: none), (pointer: coarse) {
  nav {
    font-size: 1rem;
  }

  .side-nav {
    background-color: transparent;
  }

  .side-nav .nav-item {
    display: none;
  }

  .side-nav:hover > .nav-item {
    display: block;
  }

  .side-nav:hover {
    background-color: var(--bg-dark);
    width: 100%;
  }
}
