@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: clamp(1em, 2vw, 2em);
  color: var(--text-normal);
  scroll-behavior: smooth;
  user-select: none;
}

#main {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
.default-background {
  background: linear-gradient(45deg, #b16cff, #4460ff, #b16cff, #4460ff);
  background-repeat: no-repeat;
  background-size: 400% !important;
  animation: gradient-scan 30s linear infinite;
}

@keyframes gradient-scan {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* Welcome screen */
#clock {
  font-size: 4em;
  font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#search-box {
  width: 100%;
  border-radius: 0;
  border: none;

  background: linear-gradient(90deg, #ffffff00, #fff, #ffffff00);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 25% 0.1em;
  transition: background-size ease 0.5s;

  text-align: center;
  color: var(--text-light);
  text-transform: capitalize;
  text-shadow: inherit;
}

#search-box:focus {
  background-size: 100% 0.1em;
}

/* Background options */
.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0;
  transition: opacity ease 0.5s;
  z-index: -1;
}

#background-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.background-item {
  aspect-ratio: 16 / 9;
  height: 5em;
  margin: 0.5em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: saturate(0.2);
  transition: filter ease 0.25s;
}

.background-item:hover {
  filter: saturate(1);
}
