@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

body {
  margin: 0;
  background: linear-gradient(45deg, #d972f3, #3764eb);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Josefin Sans", sans-serif;
  font-size: clamp(1em, 2vw, 2em);
  color: var(--text-normal);
}

#main {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 0.5rem #00000080;
}

.container {
  max-width: 1280px;
  margin-left: 5rem;
}

/* Welcome screen */
#clock {
  font-size: 4em;
  font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#search {
  display: flex;
  flex-direction: column;
}

#search-box {
  border: none;
  border-bottom: solid var(--text-light) 2px;
  background-color: transparent;
  text-align: center;
  color: var(--text-light);
  text-transform: capitalize;
  text-shadow: inherit;
}

/* Background options */
.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0;
  transition: opacity ease 0.5s;
  z-index: -1;
}

#background-list {
  display: flex;
  flex-wrap: wrap;
}

.background-item {
  width: 8em;
  height: 5em;
  margin: 0.5em;
  flex-basis: 10em;
  flex-grow: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (pointer: none), (pointer: coarse) {
  .container {
    max-width: none;
    margin-left: 0;
  }
}
