/*
  Everything related to theming goes in here.
  (Mainly for styling HTML elements, also for utility classes)

*/

:root {
  /* Here we define all of the variables */

  --primary-color: rgb(0, 92, 153);
  --secondary-color: rgb(139, 139, 139);

  --bg-light: rgb(214, 214, 214);
  --bg-normal: rgb(59, 59, 59);
  --bg-dark: rgb(22, 22, 22);

  --text-light: rgb(255, 255, 255);
  --text-normal: rgb(221, 221, 221);
  --text-dark: rgb(144, 144, 144);
}

/* TODO: REMOVE it someday when it cause problems */
input {
  font-size: 1em;
  background-color: var(--bg-dark);
  color: var(--bg-light);
}

/* Removing the outline */
* {
  outline: none;
}

/* Setting the highlight color */
*::selection {
  background-color: #00000080;
  color: --text-light;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px --bg-normal;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--bg-light);
  border-radius: 8%;
}

/* Text */
h1,
h2,
h3 {
  color: var(--text-light);
  font-weight: 100;
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--text-light);
}

a:active {
  color: var(--text-dark);
}

/* Utilities */
.hide {
  display: none !important;
}

.fade {
  opacity: 0 !important;
  transform: translateY(-1em) !important;
}

.unstyled-list {
  list-style: none;
}

.text-center {
  text-align: center;
}
